.mainDiv {
  display: flex;
  margin-top: 128px;
}

.contentDiv {
  display: flex;
  width: calc(100% - 580px);
  margin-left: 120px;
  margin-right: 40px;
}

.moreIcon {
  cursor: pointer;
  position: relative;
  right: 16px;
}

.AssgIcon{
  margin-right: 10px;
}

.AssgnName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #1a73e8;
  height: 40px;
}

.teacher {
  height: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.549);
  margin-top: -10px;
}

.teacher span {
  position: relative;
  bottom: 3px;
  color: rgba(0, 0, 0, 0.549);
  font-weight: 900;
}

.pointsanddue{
  display: flex;
  margin-top: -10px;
  position: relative;
}

.points {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #353642;
}

.duediv{
  position: absolute;
  right: 0px;
}

.due{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #353642;
}

.line {
  width: calc(100% + 24px);
  height: 10px;
  margin-top: -50px;
}

.AssignmentSubtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #353642;
  margin-top: -20px;
}

.uploadDoc {
  padding: 0px 20px 0px 0px;
  width: 445px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dbdce0;
  border-radius: 6px;
  margin-top: 20px;
  display: flex;
}

#thumbnail1 {
  width: 60px;
  height: 58px;
  padding-right: 10px;
}

#written{
  flex-direction: column;
}

#ques{
  margin-left: 8px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #606368;
}

#type{
  margin-top: -15px;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #606368;
}

.pdfDiv {
  width: 300px;
  height: 282px;
  background: #ffffff;
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.25), 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  margin-left: 40px;
}

.btn1 {
  background: #ffffff;
  margin-top: 20px;
  color: #c5221f;
}

.btn2, .btn3, .btn4 {
  margin-top: 18px;
  background: #ffffff;
  color: #1A73E8;
}

.btn5 {
  margin-top: 18px;
  background: #606368;
  color: white;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
  font-family: "Montserrat", sans-serif;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 252px;
  height: 34px;
  border: 1px solid #dbdce0;
  box-sizing: border-box;
  border-radius: 6px;
  letter-spacing: -0.02em;
}

.bottom{
  width: 100%;
}